[submodule "deps/aria"]
	path = deps/aria
	url = https://github.com/rxi/aria
[submodule "deps/linenoise"]
	path = deps/linenoise
	url = https://github.com/antirez/linenoise
[submodule "deps/cargs"]
	path = deps/cargs
	url = https://github.com/likle/cargs
